*{
    margin: auto;
    text-align: center;
}

.table{
    border: 1px;
    margin-top: 20px;
}

td {
    height: 25px;
    width: 50px;
}

.table-bordered {
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons {
    margin-top: 20px;

}

/* td:hover {
    background-color: lightgray;
} */

td::selection{
    background-color: #c7def7;
}

.cellToClick{
    background-color: lightskyblue;
}